<div class="container">

  <div class="login_content">
    <mat-card>
      <div class="title_subtitle">
        <mat-card-title>Bem-vindo de volta!</mat-card-title>
        <mat-card-subtitle>Acesse sua conta para continuar.</mat-card-subtitle>
      </div>
      <fieldset class="form">
        <label for="email">Email</label>
        <input id="email" name="email" class="inputs" type="text" placeholder="Digite seu email">
        <label for="password">Senha</label>
        <input id="password" name="password" class="inputs" type="text" placeholder="Digite sua senha">
        <div class="addons"><mat-checkbox>Lembrar-me</mat-checkbox><p><a href="#">Esqueci a senha</a></p> </div>
        <button class="btn_enter" mat-flat-button>ENTRAR</button>
        <mat-card-footer><p>Seu sucesso nas vendas começa aqui!</p><div class="icon_TC"><img src="/assets/TEEM_code_icon.png"></div></mat-card-footer>
      </fieldset>
    </mat-card>
  </div>
  <div class="login_banner"></div>
</div>