/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&family=Poppins:wght@100;300;400;500;600&display=swap');

$primary_color_title: #1D3557;
$primary_color_subtitle: #3a3a3a;
$primary_color_label: #2F323A;
$primary_color_text: #ffffff;
$primary_color_button: #457B9D;
$primary_color_link: #1D3557;

$secondary_color_text: #0000;
$secondary_color_label: #666666;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 12px;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}